body {
    background-color: #C3ACD0;
    
}

h1 {
    color: blue;
}
h2 {
    color: indigo;
}

 hr {
    color: aquamarine;
    border-style: dotted none none;
    border-top-width: 10px;
    width: 10%;  
 }

 .italic {
    font-style: oblique;
    font-size: larger;
    
}
.normal:hover {
    color: red;
}
.bss {
    color: red;
}

#nasirhaha {
    right: 0%;
}